html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: $font_md;
}

a {
  text-decoration: none;
  color: #000000;

  &:hover {
    text-decoration: underline;
  }
}

ul[class],
li[class] {
  list-style: none;
  padding: 0;
}

p,
li {
  line-height: 30px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 40px;
}

p {
  color: $grey_dark;
  margin-bottom: 40px;
}
