@import "../../styles/variables.scss";

.MainPage {
  width: 100%;
  text-align: center;

  &-Title {
    padding: 30px 0;
    box-sizing: border-box;

    h1 {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }

  &-Photos {
    width: 100%;
    // height: 1250px;
  }

  &-PhotosCol1,
  &-PhotosCol2 &-PhotosCol3,
  &-PhotosCol4 {
    width: 25%;
    height: 33.3%;
    background-color: red;
  }

  &-Subscribe {
    padding: 150px 0;
    box-sizing: border-box;
  }

  &-InputGroup {
    position: relative;
    width: 33%;
    margin: 0 auto;
    color: $grey_dark;

    input {
      padding: 17px 5px 5px 5px;
      width: 100%;
      font-size: $font_md;
    }
    label {
      position: absolute;
      top: 10px;
      left: 15px;
      transition: 0.2s all ease;
    }
    input:focus + label,
    input.notEmpty + label {
      top: 2px;
      left: 6px;
      font-size: $font_xs;
    }
  }
}
