@import "../../styles/variables.scss";

.Footer {
  width: 100%;
  padding: 50px 0;
  box-sizing: border-box;

  h3 {
    font-size: $font_small;
    text-transform: uppercase;
  }

  p,
  a {
    font-size: $font_small;
  }

  &-Shop {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $grey_light;
      top: 0;
    }

    &::before {
      left: -200px;
    }
    &::after {
      right: -200px;
    }
  }

  &-SocialLinks {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font_large;
      width: 30px;
      height: 30px;
      border: 1px solid #000000;
    }
  }
}
