@import "../../styles/variables.scss";

.Header {
  position: relative;
  height: 120px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    background-color: $grey_light;
  }

  &-Logo {
    width: 45px;
    height: 45px;
    background: url("../../assets/icons/logo.jpg") center center / contain
      no-repeat;
    margin-right: 50px;
  }

  &-navList li,
  &-User a {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &-AccountIcon,
  &-BasketIcon {
    font-size: $font_xm;
    margin-right: 5px;
  }
}
