@import "../../styles/variables.scss";

a.Button:hover {
  text-decoration: none;
}

.Button {
  position: relative;
  font-size: $font_xs;
  text-transform: uppercase;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;

  border: none;

  &.transparent {
    border: 1px solid $grey_medium;
  }

  &.orange {
    background-color: $orange;
    color: #ffffff;
  }

  &.square-line:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.4s;
  }
  &.square-line:hover:after {
    border-color: $grey_medium;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }
}
